        <div class="nav-inner">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                      {{#link-to "skills" classNames="pure-menu-link"}}Skills{{/link-to}}
                    </li>
                    <li class="pure-menu-item">
                      {{#link-to "open-badges" classNames="pure-menu-link"}}Open Badges{{/link-to}}
                    </li>
                </ul>
            </div>
        </div>
