  {{#link-to "maker.project" project.maker.url project.id}}
    <h1>{{#if project.title}}{{project.title}}{{else}}Untitled{{/if}}</h1>
  {{/link-to}}

  {{#each clip in project.clips}}
    {{project-clip-image size=960 clip=clip}}
  {{/each}}