<div class="skill-grid">
  {{#link-to "skill" skill.url classNames="pure-menu-link"}}
  <img src="{{skill.images.medium}}" alt="{{skill.title}}">
  <h1>{{#link-to "skill" skill.url classNames="pure-menu-link"}}{{skill.title}}{{/link-to}}</h1>
  {{/link-to}}
</div>

