<div class="pure-u">
  {{#link-to "skills.skill" skill.url classNames="pure-menu-link"}}
  <img class="skill-image" src="{{skill.images.medium}}" alt="{{skill.title}}">
  <div class="skill-title">{{skill.title}}</div>
  {{/link-to}}
</div>
