<div id="list">
  <div class="pure-u">
  <form class="pure-form">

      <fieldset>
          <legend>Add post</legend>
          {{input required=true placeholder="My Awesome Project" value=title}}
          <button class="pure-button pure-button-primary" {{action "savePost"}}>Next</button>
      </fieldset>

  </form>
  </div>
</div>