{{outlet}}

    {{#each project in projects}}
      <div class="pure-u-1-1">
        <div class="pure-u">

         {{project-details-large project=project}}

        </div>
      </div>
    {{/each}}
    <div class="pure-u-1-1">
      <div class="pure-u">
        <button {{action "loadMoreProjects"}}>load more</button>
      </div>
    </div>
