
<div id="layout" class="content pure-g">

    <div id="main" class="pure-u-1-1">
        {{diy-top-bar}}
    </div>

    <div id="nav" class="pure-u">
        {{diy-menu}}
    </div>

    <div id="main" class="pure-u-1-2">
        {{outlet}}
    </div>
</div>
