<div id="maker-details">
  <img src="{{model.avatar.medium.url}}">

  {{model.nickname}}
</div>

{{outlet}}

<div id="maker-portfolio-projects">
  {{#each project in projects}}
        {{#link-to "maker.project" project}}
        {{project-thumbnail project=project}}
      {{/link-to}}
    {{/each}}
</div>
