<div id="list" class="pure-u-1">
{{#each skill in model}}
  <div class="project-item project-item-unread pure-g">
      {{skill-listing skill=skill}}
  </div>
{{/each}}
</div>

<div id="main" class="pure-u-1">
    <div class="project-content">
        {{outlet}}
    </div>
</div>


